@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: #121212;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.text-fill-color {
  -webkit-text-fill-color: transparent;
}

@layer utilities {
  .custom-clip-path {
    clip-path: polygon(
      0% 0%,
      0% 100%,
      1.8% 100%,
      1.8% 3%,
      98.2% 3%,
      98.2% 97%,
      1% 97%,
      0 100%,
      100% 100%,
      100% 0%
    );
  }
}
